$bottle-border-radius: 0;

$color-base: whitesmoke;
$background-base: #333;
$color-primary: #f6bb42;

$button-color-base: whitesmoke;
$button-background-base: #2f751d;
$button-border-radius: 5px;

$link-color: $color-primary;
$link-color-hover: darken($link-color, 15%);
$link-decoration: none;
$link-decoration-hover: underline;

$font-family-base: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
$font-family-headings: $font-family-base;

$app-background: lighten($background-base, 15%);

@import 'knacss_lite';

@mixin button($background, $text) {
  $color1: darken($background, 5%);
  $color2: darken($background, 7%);
  $color3: darken($background, 10%);
  $color4: darken($background, 12%);
  $color5: darken($background, 15%);

  color: $text;
  background-color: $background;
  border: none;
  margin: $spacer-small 0;
  padding: $spacer-small;
  border-radius: $button-border-radius;
  cursor: pointer;
  box-shadow:
    0 1px 0 $color1,
    0 2px 0 $color2,
    0 3px 0 $color3,
    0 4px 0 $color4,
    0 5px 0 $color5,
    0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);

  &:active {
    position: relative;
    margin-top: $spacer-small*2;
    box-shadow:
      inset 0 0 15px -5px rgba(0, 0, 0, 0.7),
      inset 0 0 3px 0 rgba(0, 0, 0, 0.8),;
  }
}

$spacer-app: $spacer-small;

#app {
  background-color: $app-background;
  box-shadow: 0 0 8px 5px rgba(black, 0.3);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: $spacer-small;
  max-width: $small;
}

.content {
  flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
  margin: $spacer-small 0;
}

header,
footer {
  text-align: center;
}

footer {
  padding: $spacer-app;
}

header {
  @include font-size('h1');

  margin: (-$spacer-app) (-$spacer-app) 0 (-$spacer-app);
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;

  .header-logo{
    flex: none;
  }
  .header-title{
    flex-grow: 1;
  }
}

.logo{
  height: 1.5em;
  padding: $spacer-tiny $spacer-small;
}

section {
  margin-top: $spacer-medium;
  border: 1px solid rgba(black, 0.2);
  padding: $spacer-small;
  background-color: mix($app-background, white, 90%);

  &:first-child {
    margin-top: 0;
  }

  h2 {
    @include font-size('h4');

    border-bottom: 1px solid rgba(black, 0.2);
    margin: (-$spacer-small) (-$spacer-small) 0 (-$spacer-small);
    padding: 0 $spacer-small;
  }
}

.grid {
  @include grid(2, $spacer-small);
}

.input {
  margin: $spacer-small 0 $spacer-medium 0;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    display: block;
  }

  input {
    width: 50%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid $color-base;
  }
}

.btn {
  @include button($button-background-base, $button-color-base);
}

.levels-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: $bottle-border-radius;

  .level {
    max-height: 100%;
    overflow: hidden;
    padding: $spacer-medium-plus $spacer-small;
    text-align: center;

    &--component{
      font-weight: bold;
      background-color: rgba(white, .4);
      position: absolute;
      margin-top: -$spacer-medium-plus;
      margin-left: -$spacer-small;
      padding: $spacer-tiny;
      font-size: .8em;
      display: block;
    }

    &--glycerin {
      background-color: transparentize(#9494b3, 0.5);
      border-radius: $bottle-border-radius $bottle-border-radius 0 0;
    }

    &--nicotine {
      background-color: transparentize(#58699f, 0.5);
    }

    &--aroma {
      background-color: transparentize(#334899, 0.5);
      border-radius: 0 0 $bottle-border-radius $bottle-border-radius;
    }
  }
}

.note {
  background-color: $blue-300;
  margin-top: $spacer-small;
  padding: $spacer-small;
}

.modal {
  $modal-margin: 3vw;
  $modal-padding: $modal-margin;

  overflow-y: auto;
  position: fixed;
  top: $modal-margin;
  bottom: $modal-margin;
  left: $modal-margin;
  right: $modal-margin;
  padding: $modal-padding;
  background-color: lighten($background-base, 10%);

  &-header {
    display: flex;

    h1 {
      flex-grow: 1;
      margin: 0;
      padding: 0;
    }

    &--note {
      padding: $spacer-small 0 0 0;
      text-align: right;
    }
  }

  &-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparentize($color-primary, 0.8);
  }
}
