<template>
  <div class="levels-wrapper">
    <div v-if="usePrices">
      <strong>Price for a bottle:</strong>
      {{ bottlePrice | cents }}{{ currency }}
    </div>
    <div :style="glycerinStyle" class="level level--glycerin">
      <span class="level--component">Glycerin:</span>
      {{ glycerinPercent | cents }} %
      / {{ glycerinML | cents }} ml
      <span v-if="usePrices">/ ~={{ glycerinPrice | cents }}{{ currency }}</span>
    </div>
    <div :style="nicotineStyle" class="level level--nicotine">
      <span class="level--component">Nicotine:</span>
      {{ nicotinePercent | cents }} %
      / {{ nicotineML | cents }} ml
      <span v-if="usePrices">/ ~={{ nicotinePrice | cents }}{{ currency }}</span>
    </div>
    <div :style="aromaStyle" class="level level--aroma">
      <span class="level--component">Aroma:</span>
      {{ aromaPercent | cents }} %
      / {{ aromaML | cents }} ml
      <span v-if="usePrices">/ ~={{ aromaPrice | cents }}{{ currency }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LevelsComponent',
  props: {
    glycerinPercent: { required: true, type: [String, Number] },
    glycerinML: { required: true, type: [String, Number] },
    glycerinPrice: { required: true, type: Number },
    nicotinePercent: { required: true, type: [String, Number] },
    nicotineML: { required: true, type: [String, Number] },
    nicotinePrice: { required: true, type: Number },
    aromaPercent: { required: true, type: [String, Number] },
    aromaML: { required: true, type: [String, Number] },
    aromaPrice: { required: true, type: Number },
    usePrices: { required: false, type: Boolean, default: false },
    bottlePrice: { required: false, type: Number, default: 0 },
    currency: { required: false, type: String, default: '€' },
  },
  computed: {
    aromaStyle () { return this.levelStyle(this.aromaPercent) },
    nicotineStyle () { return this.levelStyle(this.nicotinePercent) },
    glycerinStyle () { return this.levelStyle(this.glycerinPercent) },
  },
  methods: {
    levelStyle (percentage) {
      if (Number(percentage) === 0) return `display: none;`
      return `height: ${percentage}%;`
    },
  },
  filters: {
    cents (value) {
      return Math.ceil(Number(value) * 100) / 100
    },
  },
}
</script>
