<template>
  <div id="app">
    <header class="header">
      <div class="header-logo">
        <img src="favicons/favicon-96x96.png" alt="logo" class="logo">
      </div>
      <div class="header-title">Volumix</div>
    </header>

    <div class="content">
      <div class="grid">
        <div class="col">
          <section>
            <h2>Container</h2>
            <div class="input">
              <label for="container-volume">Volume:</label>
              <input id="container-volume" v-model="containerVolume" type="number" min="0">
              <span class="suffix">ml</span>
            </div>
          </section>

          <section v-if="containerVolume > 0">
            <h2>Aroma</h2>

            <div class="input">
              <input v-model="aromaPercent"
                     type="number"
                     min="0"
                     max="100">
              <span class="suffix">%</span>
            </div>
          </section>

          <section v-if="containerVolume > 0">
            <h2>Nicotine</h2>

            <div class="input">
              <label for="nicotine-mgml">Target concentration:</label>
              <input id="nicotine-mgml" v-model="nicotine.mgml" type="number" min="0">
              <span class="suffix">mg/ml</span>
            </div>

            <div class="input">
              <label for="nicotine-bottle-mgml">Bottle concentration:</label>
              <input id="nicotine-bottle-mgml"
                     v-model="nicotine.bottle_mgml"
                     type="number"
                     min="0"
                     max="100">
              <span class="suffix">mg/ml</span>
            </div>
          </section>
        </div>

        <div class="col">
          <LevelsComponent :glycerinPercent="glycerinPercent"
                           :glycerinML="glycerinML"
                           :glycerinPrice="glycerinPrice"
                           :nicotinePercent="nicotinePercent"
                           :nicotineML="nicotineML"
                           :nicotinePrice="nicotinePrice"
                           :aromaPercent="aromaPercent"
                           :aromaML="aromaML"
                           :aromaPrice="aromaPrice"
                           :usePrices="usePrices"
                           :bottlePrice="bottlePrice"
                           :currency="currency" />
        </div>
      </div>

      <section>
        You can set the prices of the different components to know how much a mix will cost.
        <a href="#" @click="showPrices = !showPrices">Prices settings</a>
      </section>

      <aside class="note">
        All units are rounded, so the totals may be less or more than 100% / {{ containerVolume }}
        {{ containerVolume.unit }}
      </aside>
    </div>

    <div v-if="showPrices" class="modal-wrapper">
      <div class="modal">
        <div class="modal-header">
          <h1>Prices</h1>
          <div class="modal-header--note">
            <label><input v-model="usePrices" type="checkbox"> Compute bottle price</label>
          </div>
        </div>

        <div class="input">
          <label for="currency">Currency:</label>
          <input id="currency"
                 v-model="currency"
                 type="text">
        </div>
        <section>
          <h2>Nicotine bottle</h2>
          <div class="input">
            <label for="nicotine-bottle-size">Volume:</label>
            <input id="nicotine-bottle-size"
                   v-model="price.nicotine.volume"
                   type="number"
                   min="0">
            <span class="suffix">ml</span>
          </div>
          <div class="input">
            <label for="nicotine-bottle-price">Price:</label>
            <input id="nicotine-bottle-price"
                   v-model="price.nicotine.price"
                   type="number"
                   step="0.01"
                   min="0">
            <span class="suffix">€</span>
          </div>
        </section>

        <section>
          <h2>Aroma bottle</h2>
          <div class="input">
            <label for="aroma-bottle-size">Volume:</label>
            <input id="aroma-bottle-size"
                   v-model="price.aroma.volume"
                   type="number"
                   min="0">
            <span class="suffix">ml</span>
          </div>
          <div class="input">
            <label for="aroma-bottle-price">Price:</label>
            <input id="aroma-bottle-price"
                   v-model="price.aroma.price"
                   type="number"
                   step="0.01"
                   min="0">
            <span class="suffix">€</span>
          </div>
        </section>

        <section>
          <h2>Base bottle</h2>
          <div class="input">
            <label for="glycerin-bottle-size">Volume:</label>
            <input id="glycerin-bottle-size"
                   v-model="price.glycerin.volume"
                   type="number"
                   min="0">
            <span class="suffix">ml</span>
          </div>
          <div class="input">
            <label for="glycerin-bottle-price">Price:</label>
            <input id="glycerin-bottle-price"
                   v-model="price.glycerin.price"
                   type="number"
                   step="0.01"
                   min="0">
            <span class="suffix">€</span>
          </div>
        </section>

        <button class="btn btn--block btn--lg" @click="showPrices = !showPrices">Apply</button>
      </div>
    </div>

    <footer>
      <a href="https://experimentslabs.com" target="_blank">Experiments Labs</a> /
      <a href="https://gitlab.com/experimentslabs/volumix" target="_blank">Gitlab</a>
    </footer>
  </div>
</template>

<script>
import LevelsComponent from './components/levels'

export default {
  name: 'App',
  components: { LevelsComponent },
  data () {
    return {
      currency: '€',
      usePrices: false,
      showPrices: false,
      containerVolume: 60,
      aromaPercent: 15,
      nicotine: {
        mgml: 6,
        bottle_mgml: 20,
      },
      price: {
        nicotine: {
          volume: 10,
          price: 1,
        },
        aroma: {
          volume: 10,
          price: 7.5,
        },
        glycerin: {
          volume: 1000,
          price: 10,
        },
        price: 0,
      },
    }
  },
  computed: {
    glycerinPrice () {
      if (!this.glycerinML) return 0
      return this.price.glycerin.price / this.price.glycerin.volume * this.glycerinML
    },
    nicotinePrice () {
      if (!this.nicotineML) return 0
      return this.price.nicotine.price / this.price.nicotine.volume * this.nicotineML
    },
    aromaPrice () {
      if (!this.aromaML) return 0
      return this.price.aroma.price / this.price.aroma.volume * this.aromaML
    },
    bottlePrice () {
      return this.glycerinPrice + this.nicotinePrice + this.aromaPrice
    },
    aromaML () {
      const aromaPercent = Number(this.aromaPercent)
      const containerVolume = Number(this.containerVolume)
      if (aromaPercent <= 0) return 0
      return containerVolume * aromaPercent / 100
    },
    nicotineML () {
      const containerVolume = Number(this.containerVolume)
      const nicotineBottleMgml = Number(this.nicotine.bottle_mgml)
      const nicotineTarget = Number(this.nicotine.mgml)
      if (nicotineTarget <= 0) return 0
      return nicotineTarget * containerVolume / nicotineBottleMgml
    },
    nicotinePercent () {
      return this.nicotineML / Number(this.containerVolume) * 100
    },
    glycerinML () {
      return Number(this.containerVolume) * this.glycerinPercent / 100
    },
    glycerinPercent () {
      return 100 - (this.nicotinePercent + Number(this.aromaPercent))
    },
  },
}
</script>

<style lang="scss">
  @import 'stylesheets/app';
</style>
